<div class="modal-header">
  <h4 class="modal-title">{{ "CONFIRM_URL.TITLE" | translate }}</h4>
</div>
<div class="modal-body">
  <p>{{ "CONFIRM_URL.BODY1" | translate }}</p>
  <p>{{ "CONFIRM_URL.BODY2" | translate }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" (click)="activeModal.close('ignore')">
    {{ "CONFIRM_URL.PROCEED" | translate }}
  </button>
  <button type="button" class="btn btn-primary" (click)="activeModal.close('correct')">
    {{ "CONFIRM_URL.CORRECT" | translate }}
  </button>
</div>
