button .import {
  height: var(--icon-size-base);
  width: var(--icon-size-base);
  transition: transform var(--transition-fast);
}

button:hover .import {
  transform: scale(1.25);
}

.notice {
  font-size: var(--fs-md);
  color: var(--text-secondary);
}
