<div id="tile-{{ id }}" placement="top" tabindex="0" role="button" [attr.aria-label]="channel?.name"
  (keyup.enter)="click()" [ngClass]="{
    playing: starting,
    faded: fade,
    'channel-list': format === 'list',
    'has-now-playing': showNowPlayingLine()
}" [ngbTooltip]="channel?.name" triggers="hover" (click)="click()" class="channel d-inline-flex p-2 align-items-center"
  (contextmenu)="onRightClick($event)">
  <div class="image-container me-2">
    <img (error)="onError($event)" class="channel-image" *ngIf="channel?.image && showImage && logoSrc"
      [src]="logoSrc" />
  </div>
  <div class="channel-title-container d-flex flex-column justify-content-center">
    <div class="channel-title">{{ channel?.name }}</div>
    <div *ngIf="memory.ShowChannelSource" class="channel-source">{{ getSourceName() }}</div>
    <div *ngIf="showNowPlayingLine()" class="now-playing-line">
      <ng-container *ngIf="nowPlaying">
        <span class="now-playing-title">{{ nowPlaying.title }}</span>
        <div class="now-playing-track">
          <div class="now-playing-fill" [style.width.%]="nowPlayingProgress"></div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="ms-auto d-flex flex-column justify-content-center align-items-center h-100">
    <svg *ngIf="channel?.tv_archive === true" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      class="archive-icon">
      <title>archive-clock</title>
      <path
        d="M20 6H2V2H20V6M16.5 12H15V17L18.61 19.16L19.36 17.94L16.5 16.25V12M23 16C23 19.87 19.87 23 16 23C13.62 23 11.53 21.81 10.26 20H3V7H19V9.68C21.36 10.81 23 13.21 23 16M8 12H10.26C10.83 11.19 11.56 10.5 12.41 10H8.5C8.22 10 8 10.22 8 10.5V12M21 16C21 13.24 18.76 11 16 11S11 13.24 11 16 13.24 21 16 21 21 18.76 21 16Z" />
    </svg>
    <svg *ngIf="channel?.favorite" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      class="favorite-icon">
      <title>star</title>
      <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
    </svg>
  </div>
</div>

<div style="visibility: hidden; position: fixed" [style.left.px]="menuTopLeftPosition.x"
  [style.top.px]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"></div>

<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button [hidden]="viewMode != viewModeEnum.History" mat-menu-item (click)="removeFromHistory()">
      {{ 'MENU.REMOVE' | translate }}
    </button>
    <button [hidden]="
        channel?.media_type == mediaTypeEnum.group || channel?.media_type == mediaTypeEnum.season || viewMode == viewModeEnum.History
      " mat-menu-item (click)="favorite()">
      <ng-container *ngIf="alreadyExistsInFav">{{ 'MENU.UNFAVORITE' | translate }}</ng-container>
      <ng-container *ngIf="!alreadyExistsInFav">{{ 'MENU.FAVORITE' | translate }}</ng-container>
    </button>
    <button [hidden]="!isLivestream()" mat-menu-item (click)="record()">{{ 'MENU.RECORD' | translate }}</button>
    <button [hidden]="!isMovie() || downloading" mat-menu-item (click)="downloadVod()">
      {{ 'MENU.DOWNLOAD' | translate }}
    </button>
    <button [hidden]="!isMovie() || !downloading" mat-menu-item (click)="cancelDownload()">
      {{ 'MENU.CANCEL_DOWNLOAD' | translate }}
    </button>
    <button [hidden]="!showEPG()" mat-menu-item (click)="showEPGModal()">{{ 'MENU.EPG' | translate }}</button>
    <button [hidden]="!isCustom()" mat-menu-item (click)="edit()">{{ 'MENU.EDIT' | translate }}</button>
    <button [hidden]="!isCustom()" mat-menu-item (click)="share()">{{ 'MENU.SHARE' | translate }}</button>
    <button [hidden]="!isLivestream()" mat-menu-item (click)="openRestreamModal()">
      {{ 'MENU.RESTREAM' | translate }}
    </button>
    <button mat-menu-item
      [hidden]="channel?.media_type == mediaTypeEnum.group || channel?.media_type == mediaTypeEnum.season"
      (click)="copyURL()">{{ 'MENU.COPY_URL' | translate }}</button>
    <button [hidden]="!isCustom()" mat-menu-item (click)="delete()">{{ 'MENU.DELETE' | translate }}</button>
  </ng-template>
</mat-menu>