[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec=env WEBKIT_DISABLE_DMABUF_RENDERER=1 streameo_iptv
Icon={{icon}}
Keywords=iptv;tv;streameo;
Name={{name}}
StartupWMClass=streameo_iptv
Terminal=false
Type=Application
